<div class="absolute-center text-center">
  <img src="/img/phone.png" class="image-center" alt="Responsive image" />
  <br />
  <br />
  <h3>Email</h3>
  <p>AgileSolarEnergy@gmail.com</p>
  <h3>Phone Number</h3>
  <p>974-558-9842</p>
</div>