<body class="text-container">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Agile Solar Energy</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav"></ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="text-center">
    <br />
    <br />
    <img
      src="/img/404.png"
      class="img-fluid"
      alt="Responsive image"
      style="width: auto; height: 220px"
    />
    <br />
    <br />
    <h3>Error: {{error}}</h3>
  </div>
</body>