<div class="container">
  <div class="row align-items-center vh-100">
    <div class="col-6 mx-auto">
      <div class="card shadow border">
        <img class="card-img-top" src="/img/logo.png" alt="Card image cap" />
        <div class="card-body d-flex flex-column align-items-center">
          <p class="card-text">
            Welcome! This is a website to improve communication and overall
            management within the Solar Industry. This website is able to
            connect Sales teams, Construction crews, Operations managers, and
            end-customers in order to provide a more cohesive experience in
            terms of solar panel installation/maintainence. Feel free to explore
            and look around and check out our solar panels.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>