<br />
<br />
<h2 class="text-center">Promotions and Discounts</h2>
<br />
<div class="container">
  <div class="card-columns d-flex justify-content-center">
    <div class="card d-inline-block" style="width: 30rem; height: auto">
      <img
        src="/img/GroupSolarPanels.jpg"
        class="card-img-top img-fluid"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">Big Spender Package</h5>
        <p class="card-text text-center">
          Save 20% if you buy and install over 150 solar panels!
        </p>
      </div>
    </div>
    <div class="card d-inline-block" style="width: 30rem; height: auto">
      <img
        src="/img/HouseSolarPanels.jpg"
        class="card-img-top img-fluid"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">Onboarding Offer</h5>
        <p class="card-text text-center">Save 300$ with promotional code
          "SAVENOW300" !</p>
      </div>
    </div>
  </div>
</div>