<main>
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Management Portal</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="fa-solid fa-solar-panel"></i>
        </div>
        <h2>Projects</h2>
        <p>
          Begin a new installation or check progress, deadlines and more. Require payments or documentation for existing projects.
        </p>
        <a href="/manager/projects" class="icon-link">
          Go to project management
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="fa-solid fa-users"></i>
        </div>
        <h2>Customers</h2>
        <p>
          Create an account for new customers or manage existing ones.
        </p>
        <a href="/manager/customers" class="icon-link">
          Go to customer management
            <i class="fa-solid fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</body>
</main>