  <body class="text-container">
    <div class="container"  id="featured-3" style="margin-top: 10px;">
      <h2 class="pb-2 border-bottom">Customers</h2>
    </div>

    <!--Search Bar-->
    <div class="input-group mb-3" style="margin-left: 10%;">
      <form>
        <div style="display: inline-block;">
          <input class="form-control" type="text" placeholder="Search.." name="search">
        </div>
          <div style="float: right;">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>

    <!--Customer Cards-->
    <div class="card w-75 mb-3" style="margin-left: 10%;">
      <div class="card-body">
        <h5 class="card-title">John Doe</h5>
        <p class="card-text">
          Project Address
        </p>
        <a href="#" class="btn btn-primary">View Project</a>
      </div>
    </div>

    <div class="card w-75 mb-3" style="margin-left: 10%;">
      <div class="card-body">
        <h5 class="card-title">Marshal Hollar</h5>
        <p class="card-text">
          Project Address
        </p>
        <a href="#" class="btn btn-primary">View Project</a>
      </div>
    </div>
    <div class="card w-75 mb-3" style="margin-left: 10%;">
      <div class="card-body">
        <h5 class="card-title">Kelly Wrath</h5>
        <p class="card-text">
          Project Address
        </p>
        <a href="#" class="btn btn-primary">View Project</a>
      </div>
    </div>
    <div class="card w-75 mb-3" style="margin-left: 10%;">
      <div class="card-body">
        <h5 class="card-title">Nesta Archeon</h5>
        <p class="card-text">
          Project Address
        </p>
        <a href="#" class="btn btn-primary">View Project</a>
      </div>
    </div>
    <div class="card w-75 mb-3" style="margin-left: 10%;">
      <div class="card-body">
        <h5 class="card-title">Kyle Smith</h5>
        <p class="card-text">
          Project Address
        </p>
        <a href="#" class="btn btn-primary">View Project</a>
      </div>
    </div>
    <div class="card w-75 mb-3" style="margin-left: 10%;">
      <div class="card-body">
        <h5 class="card-title">Daniel Dux</h5>
        <p class="card-text">
          Project Address
        </p>
        <a href="#" class="btn btn-primary">View Project</a>
      </div>
    </div>
    <div class="card w-75 mb-3" style="margin-left: 10%;">
      <div class="card-body">
        <h5 class="card-title">Emila Odea</h5>
        <p class="card-text">
          Project Address
        </p>
        <a href="#" class="btn btn-primary">View Project</a>
      </div>
    </div>
    <div class="card w-75 mb-3" style="margin-left: 10%;">
      <div class="card-body">
        <h5 class="card-title">Crystal Lovelance</h5>
        <p class="card-text">
          Project Address
        </p>
        <a href="#" class="btn btn-primary">View Project</a>
      </div>
    </div>
    <div class="card w-75 mb-3" style="margin-left: 10%;">
      <div class="card-body">
        <h5 class="card-title">Bella Beckam</h5>
        <p class="card-text">
          Project Address
        </p>
        <a href="#" class="btn btn-primary">View Project</a>
      </div>
    </div>
    <div class="card w-75 mb-3" style="margin-left: 10%;">
      <div class="card-body">
        <h5 class="card-title">Michelle Nelly</h5>
        <p class="card-text">
          Project Address
        </p>
        <a href="#" class="btn btn-primary">View Project</a>
      </div>
    </div>
    <div class="card w-75 mb-3" style="margin-left: 10%;">
      <div class="card-body">
        <h5 class="card-title">Alburt Lockheart</h5>
        <p class="card-text">
          Project Address
        </p>
        <a href="#" class="btn btn-primary">View Project</a>
      </div>
    </div>
  </body>